{
    "inbounds": [{
      "port": 1080,  // Port of socks5 proxy. Настройте браузер на использование этого порта.
      "listen": "127.0.0.1",
      "protocol": "socks",
      "settings": {
        "udp": true
      }
    }],
    "outbounds": [{
      "protocol": "{{ inbounds.protocol }}",
      "settings": {
        "vnext": [{
          "address": "{{ groups['vps'][0] }}", // Address of your V2Ray server. Может быть IP или доменным именем.
          "port": {{ inbounds.port }},  // Порт сервера V2Ray.
          "users": [{ "id": "{{ inbounds.settings.clients.id }}" }]
        }]
      }
    },{
      "protocol": "{{ outbounds.protocol }}",
      "tag": "direct",
      "settings": {}
    }],
    "routing": {
      "domainStrategy": "IPOnDemand",
      "rules": [{
        "type": "field",
        "ip": ["geoip:private"],
        "outboundTag": "direct"
      }]
    }
  }