{
    "inbounds": [{
      "port": 1080,
      "listen": "127.0.0.1",
      "protocol": "socks",
      "settings": {
        "udp": true
      }
    }],
    "outbounds": [{
      "protocol": "{{ inbounds.protocol }}",
      "settings": {
        "vnext": [{
          "address": "{{ groups['vps'][0] }}",
          "port": {{ inbounds.port }},
          "users": [
            {
              "id": "{{ item.id }}",
              "alterId": "{{ item.alterId }}",
              "security": "auto"
            }
        ]
      }
    },{
      "protocol": "{{ outbounds.protocol }}",
      "tag": "direct",
      "settings": {}
    }],
    "routing": {
      "domainStrategy": "IPOnDemand",
      "rules": [{
        "type": "field",
        "ip": ["geoip:private"],
        "outboundTag": "direct"
      }]
    }
  }