{
    "inbounds": [{
      "port": {{ inbounds.port }},
      "protocol": "{{ inbounds.protocol }}",
      "settings": {
        "clients": [
          {% for client in inbounds.settings.clients %}
          {"id": "{{ client.id }}"}{{ "," if not loop.last else "" }}
          {% endfor %}
        ]
      }
    }],
    "outbounds": [{
      "protocol": "{{ outbounds.protocol }}",
      "settings": {}
    }]
  }