PUID=1000
PGID=1000
TZ={{ timezone }}
SERVERURL={{ groups['vps'][0] }} #optional
SERVERPORT={{ wireguard.port }} #optional
PEERS=5 #optional - Number of devices
PEERDNS=auto #optional
INTERNAL_SUBNET=10.11.11.0/24 #optional